#questionBox {
    margin-bottom: 50px;
}

#avatarIcon {
    margin-right: 250px;
}

#questionTitle {
    /* margin-left: 5px;
    margin-bottom: 5px;
     */
    margin-left: 75px;
}

#questionTitleBox{
    /* margin-left: -200px;
     */
    
}

#questionSize {
    font-size: 15px;
    margin-left: 5px;
}

#questionSizeBox {
    margin-right: -500px;
}