#questionBox {
    margin-bottom: 50px;
}

#avatarIcon {
    margin-right: 5px;
}

#questionTitle {
    margin-left: -120px;
    margin-bottom: 5px;
    margin-right: 5px;
    hyphens: manual;
}

#questionTitleBox{
    margin-right: 5px;
}

#questionSize {
    font-size: 15px;
    margin-left: 20px;
}

#questionSizeBox {
    margin-right: -500px;
}