.codeBlockStyle {
    background-color: #fce181d7;
    margin: 0;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    box-shadow: inset 1px 1px 2px 1px #ffeca7d7
}

.hidePlaceholder .public-DraftEditorPlaceholder-root {
  display: none;
}

div.DraftEditor-root {
  padding: 10px;
  min-height: 120px;
  border: inset 1px #222E42;
  border-radius: 5px;
  background-color: rgb(132, 204, 252);
  font-size: 12pt;
  line-height: 1em;
}

.inline-editor div.DraftEditor-root {
  width: min-content;
  min-width: 250px;
  min-height: min-content;
  border: solid 2px gray;
  background-color: #eee;
}