.codeBlockStyle {
    background-color: #fce181d7;
    margin: 0;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    box-shadow: inset 1px 1px 2px 1px #ffeca7d7
}

.hidePlaceholder .public-DraftEditorPlaceholder-root {
  display: none;
}